---
title: Guzzle
---

<div id="header">
  <h1 id="logo-wrap">
    <a id="logo" href="#" title="Guzzle Logo">Guzzle</a>
  </h1>
  <div id="login-hint">This page on any browser? <a href="#" id="link-create-account" title="Create an account">Create an account</a>, or <a id="link-login" href="#" title="login">Login now</a></div>
</div>
<div id="wrap">
  <div id="content">
  	<a id="link-customize-my-page" href="#" title="Customize my page">Customize my page</a>
    <div id="welcome-messages">
      <div id="welcome-heading">
        <div id="welcome-title">Welcome.</div>
        <h2 id="welcome-subtitle">Guzzle reads hundreds of feeds every second to get you the latest news about stuff you care about.</h2>
      </div>
      <div id="intro"><a id="link-start" href="#" title="Start">Click here</a> to start customizing your page now or <a id="link-screencast" href="#" title="Screencast">watch the screencast</a> for a quick intro</div>
      <a id="button-dismiss-welcome-message" href="#" title="Dismiss welcome message">Don't show this message again <span class="button-close">×</span></a>
      <hr id="news-divider" />
    </div>
    <div id="whats-new">
      <div id="headlines">
        <div class="list-title">
          <h3 id="headlines-title">Headlines</h3>
          <a href="#" class="button-list-customize" title="Customize">Customize</a>
        </div>
        <h4 class="list-item">
          <a class="link-list-item" href="#" title="Larry David: This is gonna be a terrible question">Larry David: This is gonna be a terrible question</a>
        </h4>
        <h4 class="list-item">
          <a class="link-list-item" href="#" title="Martin Marks: Tractatus Twitter Philosophicus">Martin Marks: Tractatus Twitter Philosophicus</a>
        </h4>
        <h4 class="list-item">
          <a class="link-list-item" href="#" title="Beverly Cleary At 95: A Talk With The Author Who Created Ramona Quimby">Beverly Cleary At 95: A Talk With The Author Who Created Ramona Quimby</a>
        </h4>
        <h4 class="list-item">
          <a class="link-list-item" href="#" title="David Edison Sloane: What Thomas Edison Would Do">David Edison Sloane: What Thomas Edison Would Do</a>
        </h4>
        <h4 class="list-item">
          <a class="link-list-item" href="#" title="Mike Lux: Does Wall Street Win?">Mike Lux: Does Wall Street Win?</a>
        </h4>
        <h4 class="list-item">
          <a class="link-list-item" href="#" title="Jesse Berney: Is Obama Bluffing?">Jesse Berney: Is Obama Bluffing?</a>
        </h4>
        <h4 class="list-item">
          <a class="link-list-item" href="#" title="EPA Unveils New Standards For Coal-Fired Power Plants">EPA Unveils New Standards For Coal-Fired Power Plants</a>
        </h4>
        <h4 class="list-item">
          <a class="link-list-item" href="#" title="Bristol Palin On 'The View': That's Why It's Called Losing Your Virginity' (VIDEO)">Bristol Palin On 'The View': That's Why It's Called Losing Your Virginity' (VIDEO)</a>
        </h4>
      </div>
      <div id="popular">
        <div class="list-title">
          <h3 id="popular-title">Popular</h3>
          <a href="#" class="button-list-customize" title="Customize">Customize</a>
        </div>
        <h4 class="list-item">
          <a class="link-list-item" href="#" title="EPA Unveils New Standards For Coal-Fired Power Plants">EPA Unveils New Standards For Coal-Fired Power Plants</a>
        </h4>
        <h4 class="list-item">
          <a class="link-list-item" href="#" title="Food prices head back towards record highs">Food prices head back towards record highs</a>
        </h4>
        <h4 class="list-item">
          <a class="link-list-item" href="#" title="Bristol Palin On 'The View': That's Why It's Called Losing Your Virginity' (VIDEO)">Bristol Palin On 'The View': That's Why It's Called Losing Your Virginity' (VIDEO)</a>
        </h4>
        <h4 class="list-item">
          <a class="link-list-item" href="#" title="Larry David: This is gonna be a terrible question">Larry David: This is gonna be a terrible question</a>
        </h4>
        <h4 class="list-item">
          <a class="link-list-item" href="#" title="Founding Fathers: The Foundations">Founding Fathers: The Foundations</a>
        </h4>
        <h4 class="list-item">
          <a class="link-list-item" href="#" title="F1: Sutil: Rule changes will help">F1: Sutil: Rule changes will help</a>
        </h4>
        <h4 class="list-item">
          <a class="link-list-item" href="#" title="News of the World editor Colin Myler: 'an old-fashioned newspaper guy'">News of the World editor Colin Myler: 'an old-fashioned newspaper guy'</a>
        </h4>
        <h4 class="list-item">
          <a class="link-list-item" href="#" title="rauschenberg.jpg (JPEG-bilde, 500x499 punkter)">rauschenberg.jpg (JPEG-bilde, 500x499 punkter)</a>
        </h4>
      </div>
      <div id="latest-images">
        <div class="list-title">
          <h3 id="latest-images-title">Latest Images</h3>
          <a href="#" class="button-list-customize" title="Customize">Customize</a>
        </div>
        <div id="latest-image-grid">
          <% 12.times do |num| %>
          <div class="list-image-item">
            <a class="list-image-link" href="#" title="Image <%= num + 1 %>">
              <img class="list-image" src="/img/latest-img-<%= num + 1 %>.jpeg" alt="Image <%= num + 1%>" />
            </a>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div id="footer-sources-and-articles" class="footer-block">
    <h5 class="footer-block-title">Sources and articles</h5>
    <h6 class="footer-block-item">
      <a href="#" class="footer-block-item-link" title="Sources">Sources</a>
    </h6>
    <h6 class="footer-block-item">
      <a href="#" class="footer-block-item-link" title="Suggest a source">Suggest a source</a>
    </h6>
    <h6 class="footer-block-item">
      <a href="#" class="footer-block-item-link" title="All articles">All articles</a>
    </h6>
    <h6 class="footer-block-item">
      <a href="#" class="footer-block-item-link" title="Search">Search</a>
    </h6>
  </div>
  <div id="footer-mor-guzzle" class="footer-block">
    <h5 class="footer-block-title">Mor guzzle</h5>
    <h6 class="footer-block-item">
      <a href="#" class="footer-block-item-link" title="All the news, by category">All the news, by category</a>
    </h6>
    <h6 class="footer-block-item">
      <a href="#" class="footer-block-item-link" title="Guzzle iPhone App">Guzzle iPhone App</a>
    </h6>
    <h6 class="footer-block-item">
      <a href="#" class="footer-block-item-link" title="Guzzle en français">Guzzle en français</a>
    </h6>
  </div>
  <div id="footer-about-guzzle" class="footer-block">
    <h5 class="footer-block-title">About Guzzle</h5>
    <h6 class="footer-block-item">
      <a href="#" class="footer-block-item-link" title="About">About</a>
    </h6>
    <h6 class="footer-block-item">
      <a href="#" class="footer-block-item-link" title="Contact us">Contact us</a>
    </h6>
  </div>
  <div id="copyright">&copy; 2009-2010 <a id="link-lemonchik" href="#" title="Lemonchik">Lemonchik</a>. All rights reserved.</div>
  <a id="link-facebook" href="#" title="Join us on Facebook">Join us on Facebook</a>
</div>
